.animateImg {
  animation: floating 5s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20%);
  }
  100% {
    transform: translatey(0px);
  }
}
